h1 {
    position: relative;
    top: 8vh;
}
#about-us {
    width: 100%;
    display: flex;
    flex: row;
    justify-content: center;
}
.user {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
}
.user.mario{
    margin-right: 10px;
    align-items: end;
    text-align: end;
}
.user.samuel{
    margin-left: 10px;
    align-items: start;
    text-align: start;
}
img {
    max-width: 35%;
    border-radius: 20px;

}
.description {
    width: 80%;
}
.name {
    font-weight: bold;
    margin: 0;
}
hr {
    color: white;
    width: 100%;
}