#about-us-content {
    top: 200px;
    width: 100%;
    height: 100%;
}
#about-us-title {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
}
#about-us {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.user {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
}
.user.mario{
    margin-right: 10px;
    align-items: end;
    text-align: end;
}
.user.samuel{
    margin-left: 10px;
    align-items: start;
    text-align: start;
}
img {
    max-width: 35%;
    border-radius: 20px;

}
.description {
    width: 80%;
}
.name {
    margin: 0;
    font-weight: lighter;
}
hr {
    color: white;
    width: 100%;
}
.user-details {
    display: flex;
}
@media (max-width: 600px) {
    #about-us {
        flex-direction: column;
    }
    .user.mario{
        min-width: 100%;
        align-items: center;
        padding-top: 10%;
        margin-bottom: 15%;
        background-color: rgb(0, 0, 0);
    }
    .user.samuel{
        min-width: 100%;
        align-items: center;
    }
  }