.navbar {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #FFD369;
    align-items: center;
}
.desktop{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.link {
    width: 10%;
    height: 60px;
    margin-top: 10px;
    max-height: 75%;
    background-color: #FFD369;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    border-left: solid #ca9a299e 1px;
    border-right: solid #ca9a299e 1px;
}
.link:hover {
    background-color: #c7a555;
    border: 0;
    transition: all 1s ease;
}
.mobile {
    display: none;
}
#ham-icon{
    color: white;
}
@media (max-width: 600px){
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        padding-top: 30px;
        width: 100%;
    }
    .navbar{
        width: 30%;
        height: 100%;
        right: 0;
        justify-content: center;
        transition: all 1s ease;
        background-color: #FFD369;
    }
    #ham-icon{
        color: white;
        position: fixed;
        right: 20px;
        top: 0;
    }
    .navbar.opened {
        right: -30%;
        background-color: #222831;
        transition: all 1s ease;
    }
    .btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .link {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 0px;
        border: 0;
    }
    .link:hover{
        background-color: #c7a555;
    }

}