.navbar {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: black;
    align-items: center;
}
.link {
    width: 10%;
    height: 75%;
    margin-left: 2%;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: rgb(29, 29, 29);
}
.link:hover {
    background-color: rgb(84, 84, 84);
    padding-left: 30px;
    padding-right: 30px;
    transition: padding 0.25s ease-in-out;
}
@media (max-width: 600px){
    
}