.mario-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.samuel-p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#our-projects-title{
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.projects-list{
    display: flex;
    justify-content: space-around;
    width: 40vw;
}
.name-p{
    color: white;
    font-size: 35px;
}
#left-decor{
    position: fixed;
    top: 80px;
    width: 10%;
    height: 100%;
    background-image: url('../images/background.png');
}
#right-decor{
    position: fixed;
    top: 80px;
    right: 0;
    width: 10%;
    height: 100%;
    background-image: url('../images/background.png');
}
#left-transparent-decor{
    position: fixed;
    left: 10%;
    top: 80px;
    width: 10%;
    height: 100%;
    background-image: url('../images/background.png');
    opacity: 0.1;
}
#right-transparent-decor{
    position: fixed;
    right: 10%;
    top: 80px;
    width: 10%;
    height: 100%;
    background-image: url('../images/background.png');
    opacity: 0.1;
}
@media (max-width: 600px) {
    .name-p{
        font-size: 25px;
    }
    .projects-list{
        width: 80%;
        align-items: center;
    }
    .decor{
        display: none;
    }
}