.mario-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}
.samuel-p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#our-projects-title{
    font-size: 40px;
    color: white;
    text-align: center;
}
h2 {
    padding-top: 50px;
    font-size: 2vw;
    color: white;
    padding-bottom: 15px;
}
.projects-list{
    display: flex;
    justify-content: center;
}
.name-p{
    color: white;
    font-size: 35px;
}
@media (max-width: 600px) {
    .name-p{
        font-size: 25px;
    }
    .projects-list{
        width: 80%;
        align-items: center;
    }
    
}