.mario-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}
.samuel-p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#our-projects-title{
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.projects-list{
    display: flex;
    justify-content: space-around;
    width: 40vw;
}
.name-p{
    color: white;
    font-size: 35px;
}
@media (max-width: 600px) {
    .name-p{
        font-size: 25px;
    }
    .projects-list{
        width: 80%;
        align-items: center;
    }
    #our-projects-title{
        color: #FFD369;
    }
    
}