.project-item{
    background-color: #FFD369;
    height: 50px;
    margin: 10px;
    padding: 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.project-item:hover{
    background-color: #EEEEEE;
}
#name {
    font-weight: 900;
    font-size: 13px;
    margin-right: 10px;
}
#year {
    font-weight: 100;
    font-size: 13px;
}
@media (max-width: 600px) {
    .project-item{
        max-width: 150px;
        flex-direction: column;
        padding: 3px;
        text-align: center;
    }
    .project-item #name{
        margin: 0;
    }
    .project-item #year{
        margin: 0;
    }
}