.project-item{
    background-color: #3282B8;
    height: 50px;
    margin: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.project-item:hover{
    background-color: #EEEEEE;
    margin-top: 0;
    transition: all 0.3s ease-in;
}
#name {
    font-weight: 900;
    font-size: 13px;
    margin-right: 10px;
}
#year {
    font-weight: 100;
    font-size: 13px;
}
@media (max-width: 600px) {
    .project-item{
        max-width: 150px;
        flex-direction: column;
        text-align: center;
    }
    .project-item #name{
        margin: 0;
    }
    .project-item #year{
        margin: 0;
    }
}