.content {
    background-color: #EEEEEE;
    width: 40vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#p-name {
    font-size: 30px;
    width: 50%;
    height: auto;
    text-align: center;
}
.details {
    margin-left: 20px;
    padding: 5px;
}

.details p {
    font-weight: bold;

}
@media (max-width: 600px) {
    .content{
        width: 80%;
        flex-direction: column;
    }
    
}